
ex/__pycache__/aula_34_m.cpython-311.pyc
ex/__pycache__/aula_35_m.cpython-311.pyc
ex/aula_1.py
ex/aula_11.py
ex/aula_12.py
ex/aula_13.py
ex/aula_15.py
ex/aula_16.py
ex/aula_18.py
ex/aula_19.py
ex/aula_2.py
ex/aula_20.py
ex/aula_21.py
ex/aula_22.py
ex/aula_23.py
ex/aula_24.py
ex/aula_25.py
ex/aula_26.py
ex/aula_27.py
ex/aula_28.py
ex/aula_29.py
ex/aula_3.py
ex/aula_30.py
ex/aula_31.py
ex/aula_32.py
ex/aula_33.py
ex/aula_34.py
ex/aula_34_m.py
ex/aula_35.py
ex/aula_35_m.py
ex/aula_36.py
ex/aula_39.py
ex/aula_4.py
ex/aula_40.py
ex/aula_41.py
ex/aula_42.py
ex/aula_43_2.py
ex/aula_44.py
ex/aula_45.py
ex/aula_46.py
ex/aula_47.py
ex/aula_48.py
ex/aula_49.py
ex/aula_5.py
ex/aula_50.py
ex/aula_6.py
ex/aula_8.py
ex/aula_9.py
ex/ex_package/modulo_b.py
ex/ex_package/modulo.py
ex/ex_package/__pycache__/modulo_b.cpython-311.pyc
ex/ex_package/__pycache__/modulo.cpython-311.pyc
ex/ex_package/__pycache__/__init__.cpython-311.pyc
ex/ex_package/__init__.py
ex/dados/produtos_modulo.py
ex/dados/__pycache__/produtos_modulo.cpython-311.pyc
ex/dados/__pycache__/__init__.cpython-311.pyc
ex/dados/__init__.py
